@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container {
    background-color: rgb(51, 50, 50);
    width: 100%;
    max-width: 1400px;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 15vh 4fr;
}

.header {
    background-color: rgb(95, 95, 95);
    grid-column: 1 / 3;
    padding: 1rem;
}

.header p {
    font-size: 80px;
    font-family: honk;
}

.sidebar {
    background-color: rgb(95, 95, 95);
    grid-row: 2/ 3;
    grid-column: 2 / 3;
    padding: 1rem;
    text-align: center;
}


.dialog-container {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid;
    width: 350px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 15px;
    z-index: 1;
}

.form-main {
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    border: none;
}

input {
    width: 85%;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    padding: 5px;
}

.dialog-container button {
    padding: 8px;
    width: 140px;
    border-radius: 20px;
}

.card {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    border: 1px solid;
    width: 300px;
    height: 150px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: hidden;
    /* background-color: darkkhaki; */
    background-color: brown;
}

.card > div {
    position: absolute;
    display: flex;
    bottom: 10px;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-65%);
}

.close {
    position: absolute;
    width: 20px;
    border: 1px solid;
    align-self: flex-end;
}

.article {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.plus {
    fill: brown;
}

.checkbox:checked + .card {
    background-color: darkkhaki;
}

dialog::backdrop {
    backdrop-filter: blur(3px);
}



/* Toggle switch impl. */
.switch {
    display: inline-block;
    position: relative;
    width: 46px;
    height: 22px;
    border: 1px solid;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    position: absolute;
    background-color: rgb(133, 131, 131);;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle::before {
    position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 1px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .toggle:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

  .switch, .toggle {
    border-radius: 20px;
}
